<div class="main">
  <header>

    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand"><strong>{{user.firstName}}'s todo list</strong></a>
      <button class="navbar-toggler" (click)="goToProfile()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" (click)="goToProfile()">Go back to Profile</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" id="addTodo" (click)="addTodo()">Add todo</a>
          </li> -->
        </ul>
      </div>
    </nav>

  </header>
  <!--  -->

  <!-- <div class="avatar d-flex justify-content-end">
    <img *ngIf="url" [src]="url" height="100" width="100" id="avatar" class="rounded-circle" >
    <ng-templete>
      <img *ngIf="!url" src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" id="avatar" class="rounded-circle" >
        </ng-templete>
  </div> -->


  <!-- Button trigger modal -->
  <div class="buttonContainer">
    <button class="btn add-btn" data-toggle="modal" data-target="#myModalHorizontal">
   Add
</button>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
          <h4 class="modal-title form-title" id="myModalLabel">
            Add New Todo Task
          </h4>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">

          <form class="form-horizontal" role="form" [formGroup]="todoItem" (ngSubmit)="add()">
            <div class="form-group wrap-input100  rs1-wrap-input100 validate-input">
              <input type="text"
                                formControlName="title"
                                placeholder="Title"
                                class="form-control input100"
                                [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
              <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                <div *ngIf="f.title.errors.required">Title is required</div>
              </div>
            </div>
            <div class="form-group wrap-input100  rs1-wrap-input100 validate-input">
              <input type="description"
                                formControlName="description"
                                placeholder="Description"
                                class="form-control input100 description"
                                [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
              <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">description is required</div>
              </div>
            </div>
          </form>
        </div>
        <!-- Modal Footer -->
        <div class="modal-footer">
          <div class="form-group container-login-form">
            <button class="btn login-form add" data-dismiss="modal"  (click)="add()">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- edit model -->
  <div class="modal fade" id="editCardModal" tabindex="-1" role="dialog" aria-labelledby="editCardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
          <h4 class="modal-title form-title" id="myModalLabel">
           Edit Todo Task
          </h4>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">

          <form class="form-horizontal" role="form" [formGroup]="todoItem" (ngSubmit)="add()">
            <div class="form-group wrap-input100  rs1-wrap-input100 validate-input">
              <input type="text" id="title"
                                formControlName="title"
                                class="form-control input100"
                                [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
              <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                <div *ngIf="f.title.errors.required">Title is required</div>
              </div>
            </div>
            <div class="form-group wrap-input100  rs1-wrap-input100 validate-input">
              <input type="description" id="description"
                                formControlName="description"
                                placeholder="Description"
                                class="form-control input100 description"
                                [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
              <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">Description is required</div>
              </div>
            </div>
          </form>
        </div>

        <!-- Modal Footer -->
        <div class="modal-footer">
          <div class="form-group container-login-form">
            <button class="btn login-form click"
                    data-dismiss="modal"
                    id=""
                    (click)="editTask()">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container align-items-left d-flex flex-wrap  flex-column ">
    <div class="containerButtonBar d-flex  justify-content-between">
      <div class="container">
        <div class="follow">
          <div class="icon first" (click)="sortTodo('title')">Title</div>
          <div class="icon" (click)="sortTodo('status')">Status</div>
          <div class="icon last" (click)="sortTodo('selected')">Selected</div>
          <div class="label">Select sorting</div>
        </div>
      </div>
      <div class="search__container">
        <input type="text" class="search__input form-control" [(ngModel)]="searchText" placeholder="search text goes here"/>
      </div>
      </div>
      <div class="wrapper pop" *ngFor="let todo of todoList | filter: searchText | sorting:path:order; let i = index">
        <div class=" flex-row d-flex align-items-center wrap-input100 wrap-input rs1-wrap-input100 validate-input">

          <div class="statuss">
             <input type="checkbox" name="status" (click)="checked(i)">
          </div>

          <div class=" d-flex flex-fill card-container" id="modalActivate" data-toggle="modal" data-target="#fullCardModal"
            (click)="fullCardModal(todo._id, i)">
            <!-- Card content -->

            <div class="card-body input-100 d-inline flex-fill" *ngIf="todo.status === 'done'; else elseId">
              <h4 class="card-title " id="modalActivate" data-toggle="modal" data-target="#fullCardModal" (click)="fullCardModal(i)">
                <s>{{i + 1}}. {{todo.title}}</s></h4>
            </div>
            <ng-template #elseId class="d-inline">
              <div class="card-body d-inline">
                <h4 class="card-title ">{{i + 1}}. {{todo.title}}</h4>
              </div>
            </ng-template>
          </div>
          <div>
            <div class="process-icon"></div>
            <button class="btn btn-primary" value="edit" (click)="change(i)" id="modalActivate" data-toggle="modal" data-target="#editCardModal"></button>
            <button class="btn btn-danger" (click)="deleteTask(todo._id)"></button>
          </div>
          <div class="fullCardModal" ></div>
         </div>
        </div>
      </div>
    </div>
