<!-- main app container -->

  <div class="container row" id="main">
          <div class="form-title">
              <h3>Registration</h3>
          </div>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <div class="form-group wrap-input100 rs1-wrap-input100 validate-input d-flex justify-content-center">
                      <input type="text"
                              placeholder="First Name"
                              formControlName="firstName"
                              class="form-control input100"
                              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                          <div *ngIf="f.firstName.errors.required">First Name is required</div>
                      </div>
                      <span class="focus-input100"></span>

                  </div>
                  <div class="form-group wrap-input100 rs1-wrap-input100 validate-input">
                      <input type="text"
                              placeholder="Last Name"
                              formControlName="lastName"
                              class="form-control  input100"
                              [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                      </div>
                      <span class="focus-input100"></span>

                  </div>
                  <div class="form-group wrap-input100 rs1-wrap-input100 validate-input">
                      <input type="text"
                              placeholder="Email"
                              formControlName="email"
                              class="form-control  input100"
                              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required</div>
                          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                      </div>
                      <span class="focus-input100"></span>

                  </div>
                  <div class="form-group wrap-input100 rs1-wrap-input100 validate-input">
                    <input type="text"
                            placeholder="Phone"
                            formControlName="phone"
                            class="form-control  input100"
                            [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                        <div *ngIf="f.phone.errors.required">Phone is required</div>
                        <div *ngIf="f.phone.errors.phone">Phone must be a valid phone form</div>
                    </div>
                    <span class="focus-input100"></span>

                </div>
                  <div class="form-group wrap-input100 rs1-wrap-input100 validate-input">
                      <input type="password"
                              placeholder="Password"
                              formControlName="password"
                              class="form-control  input100"
                              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Password is required</div>
                          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                      </div>
                      <span class="focus-input100"></span>

                  </div>
                  <div class="form-group wrap-input100 rs1-wrap-input100 validate-input">
                      <input type="password"
                              placeholder="Confirm Password"
                              formControlName="confirmPassword"
                              class="form-control  input100"
                              [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                          <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                          <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                      </div>
                      <span class="focus-input100"></span>

                  </div>
                  <div class="form-group">
                      <button class="btn green login-form" >Registration</button>
                      </div>
              </form>
          </div>
          <div class="form-title mess" id="mess">good job) now you can login corectly in this site)</div>
